[Unit]
Description=SSH alert service - alerts when someone logs in or sudos

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/jt/bitbucket/sshalert/sshalert.py
EnvironmentFile=/home/jt/bitbucket/sshalert/.env
Restart=always
